div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    background-color: rgb(75, 71, 74);
    border-radius: 10px;

    p {
      padding: 5px;
      color: white;
      text-shadow: 1px 1px 4px rgb(82, 74, 41);
      font-size: larger;
      margin: 0%;


      button {
        background-image:linear-gradient(to bottom left, rgb(245, 191, 145), rgb(22, 20, 20), rgb(247, 183, 64));
        border: none;
        margin: 5px;
        border-radius: 10px;
        padding: 6px 14px 6px 14px;
        color: whitesmoke;
        text-shadow: 1px 1px 4px rgb(255, 189, 47);
        align-self: flex-end;
        &:hover {
          background-image:linear-gradient(to bottom left, rgb(250, 145, 53), rgb(49, 15, 15), rgb(240, 158, 27));
          cursor: pointer;
        }
      }
      .removeBtn {
        text-align: center;
        padding: 6px 50px 6px 50px;
        margin-left: 2.5rem;
      }
    }
  }

