article {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // max-width: 1000px;
  margin: auto;
  background-image: linear-gradient(to bottom left, rgb(29, 26, 26), rgb(37, 18, 18), rgb(41, 37, 37));
  border-radius: 10px;

  h1 {
    background-color: rgb(160, 150, 95);
    border-radius: 5px;
    padding: 10px;
    text-shadow: 1px 1px 8px rgb(228, 169, 135);
    margin: 10px;
  }
  h2 {
    background-color: rgb(160, 134, 95);
    border-radius: 5px;
    padding: 8px;
    text-shadow: 1px 1px 8px rgb(236, 152, 42);
    margin: 10px;
  }
  ul {
    padding-left: 0%;
    li {
      background-color: rgb(97, 104, 69);
      color: white;
      border-radius: 5px;
      padding: 10px;
      list-style: none;
      margin-top: 5px;
    }
  }
}
