article {
  font-family: 'Coda', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background-image: linear-gradient(to bottom left, black, rgb(41, 26, 26), black);
  border-radius: 10px;


  h1 {
    background-color: rgb(160, 150, 95);
    border-radius: 5px;
    padding: 10px;
    text-shadow: 1px 1px 8px rgb(228, 169, 135);
    margin: 10px;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
  }
  h2 {
    background-color: rgb(160, 134, 95);
    border-radius: 5px;
    padding: 8px;
    text-shadow: 1px 1px 8px rgb(236, 152, 42);
    margin: 10px;
    width: 100%;
    text-align: center;
  }
  ul {
    padding-left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    li {
      background-color: rgb(97, 104, 69);
      color: white;
      border-radius: 5px;
      padding: 10px;
      list-style: none;
      margin: 5px;
    }
  }
}
